.container{
    margin: 10px;
    width: 50% !important;
}

.todoForm{
    background: #A569BD;
    gap: 10px;
}

.todoInput{
    background-color: #F4ECF7 !important;
    border: none !important;
}

.todoInput:focus {
    box-shadow: none !important;
}

.todoSave{
    background: #8E44AD !important;
    border: none !important ;
    box-shadow: none !important;
    transition: all .3s ease-in;
}

.todoSave:hover{
    background: #7D3C98 !important;
}

.todoList{
    background: #AF7AC5;
    gap: 10px;
}

.todo{
    width: 100%;
}

.todo:hover{
    background: #9B59B6;
}

.todoUpdate{
    gap: 10px;
}

.todoInputUpdate{
    background-color: #F4ECF7 !important;
    border: none !important;
}

.todoInputUpdate:focus {
    box-shadow: none !important;
}

